<a href="https://colab.research.google.com/github/kvinne-anc/Farmers-Market-Project/blob/master/FarmersMarket_DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
farm = pd.read_csv('/content/farmers_markets_from_usda.csv')
farm

         FMID  ...       updateTime
0     1018261  ...  6/20/2017 22:43
1     1018318  ...  6/21/2017 17:15
2     1009364  ...             2013
3     1010691  ...  10/28/2014 9:49
4     1002454  ...   3/1/2012 10:38
...       ...  ...              ...
8799  1004767  ...   6/5/2014 14:40
8800  1018362  ...  6/22/2017 19:37
8801  1012380  ...   7/9/2016 17:00
8802  1004686  ...             2009
8803  1011418  ...    9/4/2015 9:48

[8804 rows x 59 columns]

In [ ]:
farm.columns

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'],
      dtype='object')

In [ ]:
#Dropping unnecessary columns

In [ ]:
farm = farm.drop(['FMID', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'County', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'Location',
       'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'], axis=1)
farm.head()

                                         MarketName      city  ... SFMNP  SNAP
0   Caledonia Farmers Market Association - Danville  Danville  ...     Y     N
1                 Stearns Homestead Farmers' Market    Parma   ...     Y     N
2                 106 S. Main Street Farmers Market  Six Mile  ...     N     N
3               10th Steet Community Farmers Market    Lamar   ...     N     N
4                              112st Madison Avenue  New York  ...     Y     N

[5 rows x 10 columns]

In [ ]:
#x is longitud and y is latitud; ie. 44N and -72E is in Vermont
#Focusing on New York State

In [ ]:
farm.shape

(8804, 10)

In [ ]:
farm['State'].nunique()

53

In [ ]:
farm = farm[farm.State != 'Vermont']
farm.head()

                            MarketName       city  ... SFMNP  SNAP
1    Stearns Homestead Farmers' Market     Parma   ...     Y     N
2    106 S. Main Street Farmers Market   Six Mile  ...     N     N
3  10th Steet Community Farmers Market     Lamar   ...     N     N
4                 112st Madison Avenue   New York  ...     Y     N
5              12 South Farmers Market  Nashville  ...     N     Y

[5 rows x 10 columns]

In [ ]:
#Dropping unnecessary States

In [ ]:
farm = farm[farm.State != 'Alaska']

In [ ]:
farm = farm[farm.State != 'Alabama']

In [ ]:
farm = farm[farm.State != 'Arkansas']

In [ ]:
farm = farm[farm.State != 'California']

In [ ]:
farm = farm[farm.State != 'Colorado']

In [ ]:
farm = farm[farm.State != 'Connecticut']

In [ ]:
farm = farm[farm.State != 'Arizona']

In [ ]:
farm = farm[farm.State != 'Delaware']

In [ ]:
farm = farm[farm.State != 'Florida']

In [ ]:
farm = farm[farm.State != 'Georgia']

In [ ]:
farm = farm[farm.State != 'Hawaii']

In [ ]:
farm = farm[farm.State != 'Idaho']

In [ ]:
farm = farm[farm.State != 'Indiana']

In [ ]:
farm = farm[farm.State != 'Iowa']

In [ ]:
farm = farm[farm.State != 'Kansas']

In [ ]:
farm = farm[farm.State != 'Kentucky']

In [ ]:
farm = farm[farm.State != 'Louisiana']

In [ ]:
farm = farm[farm.State != 'Mississippi']

In [ ]:
farm = farm[farm.State != 'Michigan']

In [ ]:
farm = farm[farm.State != 'Montana']

In [ ]:
farm = farm[farm.State != 'Missouri']

In [ ]:
farm = farm[farm.State != 'Maine']

In [ ]:
farm = farm[farm.State != 'Illinois']

In [ ]:
farm = farm[farm.State != 'Maryland']

In [ ]:
farm = farm[farm.State != 'Minnesota']

In [ ]:
farm = farm[farm.State != 'Nevada']

In [ ]:
farm = farm[farm.State != 'Nebraska']

In [ ]:
farm = farm[farm.State != 'North Dakota']

In [ ]:
farm = farm[farm.State != 'North Carolina']

In [ ]:
farm = farm[farm.State != 'New Jersey']

In [ ]:
farm = farm[farm.State != 'New Hampshire']

In [ ]:
farm = farm[farm.State != 'New Mexico']

In [ ]:
farm = farm[farm.State != 'Ohio']

In [ ]:
farm = farm[farm.State != 'Oklahoma']

In [ ]:
farm = farm[farm.State != 'Oregon']

In [ ]:
farm = farm[farm.State != 'Pennsylvania']

In [ ]:
farm = farm[farm.State != 'Rhode Island']

In [ ]:
farm = farm[farm.State != 'South Dakota']

In [ ]:
farm = farm[farm.State != 'South Carolina']

In [ ]:
farm = farm[farm.State != 'Tennessee']

In [ ]:
farm = farm[farm.State != 'Texas']

In [ ]:
farm = farm[farm.State != 'Utah']

In [ ]:
farm = farm[farm.State != 'Virginia']

In [ ]:
farm = farm[farm.State != 'West Virginia']

In [ ]:
farm = farm[farm.State != 'Washington']

In [ ]:
farm = farm[farm.State != 'Wisconsin']

In [ ]:
farm = farm[farm.State != 'District of Columbia']

In [ ]:
farm = farm[farm.State != 'Massachusetts']

In [ ]:
farm = farm[farm.State != 'Wyoming']
farm

                                             MarketName  ... SNAP
4                                  112st Madison Avenue  ...    N
6            125th Street Fresh Connect Farmers' Market  ...    Y
11                                       170 Farm Stand  ...    Y
12                             175th Street Greenmarket  ...    Y
35                            441 Ministries Farm Stand  ...    Y
...                                                 ...  ...  ...
8711                            Woodstock Farm Festival  ...    Y
8733                  Wyckoff Farmhouse Farmers' Market  ...    N
8743                                YALE Farmers Market  ...    Y
8749  Yates County Cooperative Farm and Craft Market...  ...    N
8774                            Yorktown Farmers Market  ...    N

[719 rows x 10 columns]

In [ ]:
farm = farm[farm.State != 'Virgin Islands']

In [ ]:
farm = farm[farm.State != 'Puerto Rico']

In [ ]:
farm['State'].nunique()

1

In [ ]:
farm

                                             MarketName  ... SNAP
4                                  112st Madison Avenue  ...    N
6            125th Street Fresh Connect Farmers' Market  ...    Y
11                                       170 Farm Stand  ...    Y
12                             175th Street Greenmarket  ...    Y
35                            441 Ministries Farm Stand  ...    Y
...                                                 ...  ...  ...
8711                            Woodstock Farm Festival  ...    Y
8733                  Wyckoff Farmhouse Farmers' Market  ...    N
8743                                YALE Farmers Market  ...    Y
8749  Yates County Cooperative Farm and Craft Market...  ...    N
8774                            Yorktown Farmers Market  ...    N

[673 rows x 10 columns]

In [ ]:
#Changing Yes and No to binary

In [ ]:
farm.Credit.replace(('yes', 'no'), (1, 0), inplace=True)

In [ ]:
farm.WIC.replace(('Y', 'N'), (1, 0), inplace=True)

In [ ]:
farm.WICcash.replace(('Y', 'N'), (1, 0), inplace=True)

In [ ]:
farm.SNAP.replace(('Y', 'N'), (1, 0), inplace=True)

In [ ]:
farm.SFMNP.replace(('Y', 'N'), (1, 0), inplace=True)

In [ ]:
farm

                                             MarketName  ... SNAP
4                                  112st Madison Avenue  ...    0
6            125th Street Fresh Connect Farmers' Market  ...    1
11                                       170 Farm Stand  ...    1
12                             175th Street Greenmarket  ...    1
35                            441 Ministries Farm Stand  ...    1
...                                                 ...  ...  ...
8711                            Woodstock Farm Festival  ...    1
8733                  Wyckoff Farmhouse Farmers' Market  ...    0
8743                                YALE Farmers Market  ...    1
8749  Yates County Cooperative Farm and Craft Market...  ...    0
8774                            Yorktown Farmers Market  ...    0

[673 rows x 10 columns]

In [ ]:
farm['city'].nunique()

407

In [ ]:
#Downloading my cleaned data so that my notebook isn't cluttered when I re-upload to graph it

In [ ]:
farm.to_csv(r'C:\Users\surfb\OneDrive\Desktop\farm.csv', header=True)

In [ ]:
import matplotlib.pyplot as plt